/**BOTONES SERETARIA LOCUTOR*/
.contenedor_botones{
  text-align: center;
}
.botonesPrincipales{
  display: inline-block;
}

/*Estilos locutor*/
.contenedor{
  text-align: center;
}
.menuIzq{
  display: inline-block;
  width: 25%;
  margin-top: 2px;
}
.menuDer{
  display: inline-block;
  width: 74%;
  margin-top: 2px;
  text-align: center;
}
.selection{
  display: inline-block;
  width: 30%;
}
